<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Lista de Razas</h1>
            <a href="#" class="btn-add">Añadir Raza</a>
        </div>
        
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
              <thead class="text-center">
                <tr>
                  <th>#</th>
                  <th>Nombre de la Raza</th>
                </tr>
              </thead>
              <tbody>
                {% for breed in breeds %}
                    <tr class="text-center">
                        <td>{{ breed.id_breed }}</td>
                        <td>{{ breed.breed_name }}</td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script></body>
</html>